body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.chosen {
  opacity: 0.7;
  box-shadow: 10px 10px 15px white, -10px -10px 15px white;
}

.star {
  position: relative;
  bottom: 4px;
}

/* for mobile */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .btn {
    width: 100px;
    height: 100px;
    /* flex: 1 1 100px; */
  }

  .row {
    display: flex;
    justify-content: center;

  }
}